<div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title text-center">List og task</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Categories</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Date</th>
              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let task of tasks$ | async; index as idx">
                <td>{{ idx + 1 }}</td>
                <td>{{ task.title }}</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>{{ task.date | date: 'mediumDate' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
