<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title text-center">List og task</h4>
  </div>
  <div class="card-body table-responsive">
    <ng-container *ngIf="tasks.length;else empty">
      <table class="table table-hover" [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="color">
          <th *matHeaderCellDef mat-header-cell></th>
          <th mat-cell *matCellDef="let task" [style.background-color]="getPriorityColor(task)"></th>
        </ng-container>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell></th>
          <th mat-cell *matCellDef="let idx = index">{{ idx + 1 }}</th>
        </ng-container>
        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
          <th mat-cell *matCellDef="let task" [class.completed]="task.completed">{{ task .title }}</th>
        </ng-container>
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
          <th mat-cell *matCellDef="let task" [ngClass]="{
          'completed': task.completed, 'no-date': task.data == null
          }">{{ task .date | date: "medium" }}</th>
        </ng-container>
        <ng-container matColumnDef="priority">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
          <th mat-cell *matCellDef="let task"  [ngClass]="{
          'completed': task.completed, 'priority': task.priority == null}">
            {{ task.priority ? task.priority?.title : 'No priority' }}
          </th>
        </ng-container>
        <ng-container matColumnDef="category">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
          <th mat-cell *matCellDef="let task"  [ngClass]="{
          'completed': task.completed, 'category': task.category == null}">
            {{ task.priority ? task.category?.title : 'No category' }}
          </th>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </ng-container>
  </div>
</div>

<ng-template #empty>
  <p class="text-center text-gray">Empty</p>
</ng-template>

