/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.table {
  .no-cursor-pointer {
    cursor: default;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .completed {
    text-decoration: line-through;
    color: #797979;
  }

  .no-values {
    color: #b7b7b7;
  }
}


.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-dialog-surface {
  padding: 40px;
}
.mat-mdc-dialog-content,
.mat-mdc-dialog-actions{
  padding: 0 !important;
}
