@if(categories?.length) {
  <ul class="nav">
    @for(category of categories; track category) {
      <li
        class="nav-item cursor-pointer"
        (click)="selectedCategoryHandler.emit(category)"
        [class.active]="category === selectedCategories"
        [class.no-cursor-pointer]="category === selectedCategories"
      >
        <a class="nav-link">
          <i class="material-icons">dashboard</i>
          <p>{{ category.title }}</p>
        </a>
      </li>
    }
  </ul>
} @else {
  <ng-container *ngTemplateOutlet="optionTemplate; context: { list: categories }"></ng-container>
}
